    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What we do</h2>
                <p>At Towering Pillar of Hats, we are spearheading a new method of security coined Exposity™. Utilising our proprietry method of Exposity™ we effectively de-implement the DMZ and any production firewalls allowing full inbound Internet access to your corporate network.</p>
                <p>This then leads to the second phase of Exposity™ which involves our highly refined methods of training, which we affectionately named  Silent Shadowing™ in which your teams "self learn" how to mitgate the real world risk of attacker exposure.</p>
                <p>In addition to this we provide a comprehensive range of information security services centered around cyber-hacking, cyber-strategy & cyber-thinking, through to cyber-deployment & ongoing cyber-reporting.</p>
            </div>
        </div>
    </section>
