    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What we do</h2>
                <p>Towering Pillar of Hats Security provides a comprehensive range of information security services centered around cyber-hacking, cyber-strategy & cyber-thinking, through to cyber-deployment & ongoing cyber-reporting. Our services have been specifically designed to assist organisations identify and evaluate cyber-IT security risks (through cyber-hacking your cyber-ancient systems) and to design and cyber-implement security solutions which mitigate any exposures through completely exploiting your environment and exposing it to the Internet so security is no longer a cyber-concern.</p>
            </div>
        </div>
    </section>
